<html>
	<body>
		<book class="book">
			<page class="page page--generic page--getting-started" data-header-icon="stone-cutting">
				<h1 id="getting-started">Getting Started</h1>
				<p>Even the most bloodthirsty barbarian will, on occassion, be compelled to craft something—even if it's just a bigger, bloodthirstier sword. When players want to harvest the skin of a slain dragon, or sew a <i>Robe of Many Eyes</i>, or cook a <i>Heroes Feast</i>, <i>Giffyglyph's Complete Crafting</i> has you covered.</p>
				<p>But what are the general concepts of crafting and how can you easily introduce them into your game? This chapter will guide you through the basics and outline some introductory levers to get you started.</p>

				<h2>The Basics</h2>
				<p>This supplement introduces six basic crafting concepts: professions, cores, materials, nodes, recipes, and goods. Characters use <i>professions</i> to gather <i>materials</i> from <i>nodes</i> and follow <i>recipes</i> to craft them into <i>goods</i>.</p>

				<ol>
					<li><strong>Profession:</strong> The ability to read recipes and use tools to manufacture goods and harvest materials.</li>
					<li><strong>Core:</strong> A power source for a magical good.</li>
					<li><strong>Material:</strong> A resource used to craft goods.</li>
					<li><strong>Node:</strong> A source of crafting materials—a monster's corpse, a vibrant plant, a metal vein.</li>
					<li><strong>Recipe:</strong> An instructional blueprint that tells you how to craft a specific good from materials.</li>
					<li><strong>Good:</strong> A finished item or effect.</li>
				</ol>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian is an <i>apprentice artist</i> with training in <i>painter's tools</i>. After he defeats an ogre zombie, Viridian extracts a measure of <i><strong>luminescent ichor</strong> (common, creative, necrotic)</i> from the corpse.</p>
						<p>The ichor makes for an effective paint and Viridian uses it to craft a <i>fine painting</i> for his room.</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Professions</h3>
				<p><i>Crafting professions</i> teach you how to use <i>crafting recipes</i> and harvest <i>crafting materials</i>.</p>
				<p>You can pursue any number of six crafting professions, each with five ranks of mastery—apprentice, expert, artisan, master, and grandmaster. By achieving higher ranks in your profession, you can craft more exclusive recipes and harvest legendary materials.</p>
				<p>For a full exploration of <i>professions</i>, see page pX.</p>
				
				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Crafting Professions</h4>
					</header>
					<section class="panel__body">
						<table class="table table--professions">
							<thead>
								<tr>
									<th><i class="fas fa-bars"></i></th>
									<th>Profession</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/potion-ball.svg"></span></td>
									<td>Apothecary</td>
									<td>Turn <i>chemical</i> materials into medical and alchemical goods.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/palette.svg"></span></td>
									<td>Artist</td>
									<td>Turn <i>creative</i> materials into artistic, musical, and literary goods.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/claw-hammer.svg"></span></td>
									<td>Builder</td>
									<td>Turn <i>durable</i> materials into heavy and long-lasting goods.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/cauldron.svg"></span></td>
									<td>Culinarian</td>
									<td>Turn <i>edible</i> materials into consumable goods.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/sewing-needle.svg"></span></td>
									<td>Tailor</td>
									<td>Turn <i>fabric</i> materials into worn goods.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/tinker.svg"></span></td>
									<td>Tinkerer</td>
									<td>Turn <i>curio</i> materials into small, fine, and fragile goods.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<profession class="panel panel--profession profession--builder profession--expert">
					<header class="panel__header">
						<h4 class="panel__title">Expert Builder</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Apprentice Builder</li>
						</ul>
						<div class="profession__description">
							<p>You can craft mundane items worth up to 600 gp, use apprentice/expert <i>Builder</i> recipes, and harvest common/uncommon <i>Durable</i> materials.</p>
						</div>
					</section>
				</profession>
			</page>
			<page class="page page--generic page--getting-started">
				<h4>Learning a Profession</h4>
				<p>Different professions use different tools for their trade. If you are proficient with at least <i>one</i> set of crafting tools, you can be trained in the relevant profession.</p>
				<p>Once you have attained a basic understanding of a crafting tool, you can learn a profession in one of three primary ways:</p>

				<ol>
					<li>
						<p><strong>Join a Guild:</strong> Crafting guilds are special (sometimes secret) organisations where crafters train, practice, socialise, and share knowledge about their craft. If you can earn an invite into a guild, you may have access to the best tools and techniques.</p>
						<p>But be careful—these guilds may have strange laws and traditions about where, when, and how you can ply your craft. It's a bad idea to cross your guild...</p>
					</li>
					<li>
						<p><strong>Find a Mentor:</strong> Crafting mentors can offer one-on-one tuition in a particular craft—for a sizable fee, of course.</p>
						<p>But be careful—mentors can be hard to impress. You may have to perform a notable task to earn your mentor's approval.</p>
					</li>
					<li>
						<p><strong>Read a Manual:</strong> Crafting manuals contain written knowledge, advice, formulae, and tutorials to help you master professional techniques. This may be the slowest way to learn a profession, but it remains an option for the lightest of pockets.</p>
						<p>But be careful—not all manuals are equal. Some manuals are stolen from their author—some may even be fakes with deliberately falsified formulae.</p>
					</li>
				</ol>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Crafting Tools</h4>
					</header>
					<section class="panel__body">
						<table class="table table--tools">
							<thead>
								<tr>
									<th><i class="fas fa-bars"></i></th>
									<th>Profession</th>
									<th>Crafting Tools</th>
								</tr>
							</thead>
							<tbody>								
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/potion-ball.svg"></span></td>
									<td>Apothecary</td>
									<td>
										<ul>
											<li>Alchemist's Supplies</li>
											<li>Herbalism Kit</li>
											<li>Poisoner's Kit</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/palette.svg"></span></td>
									<td>Artist</td>
									<td>
										<ul>
											<li>Calligrapher's Supplies</li>
											<li>Cartographer's Supplies</li>
											<li>Forgery Kit</li>
											<li>Painter's Supplies</li>
											<li>Potter's Tools</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/claw-hammer.svg"></span></td>
									<td>Builder</td>
									<td>
										<ul>
											<li>Carpenter's Tools</li>
											<li>Mason's Tools</li>
											<li>Smith's Tools</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/cauldron.svg"></span></td>
									<td>Culinarian</td>
									<td>
										<ul>
											<li>Brewer's Supplies</li>
											<li>Cook's Utensils</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/sewing-needle.svg"></span></td>
									<td>Tailor</td>
									<td>
										<ul>
											<li>Cobbler's Tools</li>
											<li>Disguise Kit</li>
											<li>Leatherworker's Tools</li>
											<li>Weaver's Tools</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-professions/tinker.svg"></span></td>
									<td>Tinkerer</td>
									<td>
										<ul>
											<li>Glassblower's Tools</li>
											<li>Jeweler's Tools</li>
											<li>Tinker's Tools</li>
											<li>Woodcarver's Tools</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Krazak is proficient with <i>mason's tools</i>. With that knowledge, he can learn the <i>Builder</i> profession by joining a guild, finding a mentor, or acquiring a crafting manual.</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">2</span>Cores</h3>
				<p>A <i>crafting core</i> is a shard of raw magical power that is used to transform mundane materials into magical goods.</p>
				<p>Cores come in one of five rarities—common, uncommon, rare, very rare, and legendary. You need at least one crafting core to craft a magical item, so hunt far-and-wide for these elusive components.</p>
				<p>For a full exploration of <i>cores</i>, see page pX.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Crafting Cores</h4>
					</header>
					<section class="panel__body">
						<table class="table table--crafting-cores">
							<thead>
								<tr>
									<th>Rarity</th>
									<th>Name</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Common</td>
									<td>Cloudy Core</td>
									<td>15 gp</td>
								</tr>
								<tr>
									<td>Uncommon</td>
									<td>Pristine Core</td>
									<td>90 gp</td>
								</tr>
								<tr>
									<td>Rare</td>
									<td>Royal Core</td>
									<td>550 gp</td>
								</tr>
								<tr>
									<td>Very Rare</td>
									<td>Lucent Core</td>
									<td>3,150 gp</td>
								</tr>
								<tr>
									<td>Legendary</td>
									<td>Astral Core</td>
									<td>18,000 gp</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<core class="panel panel--core core--rare">
					<header class="panel__header">
						<h4 class="panel__title">Royal Core</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Core</li>
						</ul>
						<div class="panel__icons">
							<div class="core__icons">
								<div class="core__rarity-icon"></div>
								<div class="core__type"></div>
								<div class="core__essence"></div>
							</div>
							<div class="core__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<p>This <i>royal core</i> is encased in a small, stone cube. When shaken, it glows blue and becomes cold to the touch.</p>
					</section>
				</core>

				<h4>Finding Cores</h4>
				<p>During your travels, you can discover crafting cores in three primary ways:</p>

				<ol>
					<li><strong>Go on Adventures:</strong> Cores are coveted by crafters and creatures alike. Journey into the dark places of the world to recover them.</li>
					<li><strong>Receive a Boon:</strong> Perform a service for a notable patron and you may be gifted with a core in return.</li>
					<li><strong>Spend Gold:</strong> Some settlements may have a <i>very</i> limited number of cores for sale. But act fast—other crafters will be sure to buy them if you don't.</li>
				</ol>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian wants to craft a set of magical <i>Marvelous Pigments</i>—but the recipe requires a <i>very rare</i> crafting core. Rumors abound that the necromancer <i>Deserad d'Eath</i> has at least one <i>lucent core</i> in his possession...</p>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Cores are Treasure</h4>
					</header>
					<section class="panel__body">
						<p>Cores are the key to crafting magical items. These special cores can't be crafted or bought through normal means—instead, they must be hunted for through adventures, quests, and campaigns.</p>
						<p>Use <i>cores</i> to limit how many magic items are in your game—the more cores you introduce, the more magic items the players can craft. As a general rule of thumb:</p>
						<ul>
							<li><strong>Major Reward:</strong> When you would give a <i>major</i> magic item as a reward, give 5 crafting cores instead.</li>
							<li><strong>Minor Reward:</strong> When you would give a <i>minor</i> magic item as a reward, give 2 crafting cores instead.</li>
						</ul>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--getting-started">
				<h3><span class="h3__highlight">3</span>Materials</h3>
				<p><i>Crafting materials</i> are resources that—when combined with cores and recipes—can be turned into goods.</p>
				<p>Each crafting material has a <i>rarity</i> ("how special am I?"), a <i>type</i> ("what am I best used for?"), and an <i>essence</i> ("what innate power do I represent?").</p>
				<p>These three details—rarity, type, and essence—tell you everything <i>important</i> about a material and guide how it can be used in crafting recipes. Gather the rarest of materials to craft the rarest of recipes.</p>
				<p>For a full exploration of <i>materials</i>, see page pX.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Material Rarities</h4>
					</header>
					<section class="panel__body">
						<table class="table table--material-rarities">
							<thead>
								<tr>
									<th>Rarity</th>
									<th>Profession Rank</th>
									<th>Minimum CR</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Mundane</td>
									<td><span class="empty">—</span></td>
									<td>0</td>
									<td>0.02 gp</td>
								</tr>
								<tr>
									<td>Common</td>
									<td>Apprentice</td>
									<td>1/2</td>
									<td>1 gp</td>
								</tr>
								<tr>
									<td>Uncommon</td>
									<td>Expert</td>
									<td>4</td>
									<td>6 gp</td>
								</tr>
								<tr>
									<td>Rare</td>
									<td>Artisan</td>
									<td>8</td>
									<td>36 gp</td>
								</tr>
								<tr>
									<td>Very Rare</td>
									<td>Master</td>
									<td>12</td>
									<td>210 gp</td>
								</tr>
								<tr>
									<td>Legendary</td>
									<td>Grandmaster</td>
									<td>16</td>
									<td>1,200 gp</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Material Types</h4>
					</header>
					<section class="panel__body">
						<table class="table table--material-types">
							<thead>
								<tr>
									<th><i class="fas fa-bars"></i></th>
									<th>Type</th>
									<th>Examples</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/types/bubbles.svg"></span></td>
									<td>Chemical</td>
									<td>Herbs, powders, oils, poisonous barbs, toxins, etc.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/types/paint-bucket.svg"></span></td>
									<td>Creative</td>
									<td>Dyes, papers, pigments, brushes, pottery clays, etc.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/types/shatter.svg"></span></td>
									<td>Curio</td>
									<td>Metal scraps, gemstones, sands, glasses, fine woods, etc.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/types/stone-block.svg"></span></td>
									<td>Durable</td>
									<td>Metal bars, stone blocks, wooden planks, cements, etching acids, etc.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/types/apple-seeds.svg"></span></td>
									<td>Edible</td>
									<td>Seeds, fruits, meats, liquids, spices, flavorings, etc.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/types/rolled-cloth.svg"></span></td>
									<td>Fabric</td>
									<td>Cloth, linen, pelts, hides, skins, textiles, etc.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Material Essences</h4>
					</header>
					<section class="panel__body">
						<table class="table table--material-essences">
							<thead>
								<tr>
									<th><i class="fas fa-bars"></i></th>
									<th>Essence</th>
									<th>Themes</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/essences/thorny-tentacle.svg"></span></td>
									<td>Aberrant</td>
									<td>Mind, supernatural, unknown, insightful, otherworldly.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/essences/flower-twirl.svg"></span></td>
									<td>Air</td>
									<td>Wind, sound, lightning, stormy, flexible, flighty.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/essences/lightning-frequency.svg"></span></td>
									<td>Arcane</td>
									<td>Magic, immaterial, amorphous, detached, spectral.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/essences/peaks.svg"></span></td>
									<td>Earth</td>
									<td>Earth, nature, hardy, heavy, stubborn, reliable.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/essences/fluffy-flame.svg"></span></td>
									<td>Fire</td>
									<td>Flame, heat, explosive, purify, passion, fury.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/essences/harry-potter-skull.svg"></span></td>
									<td>Necrotic</td>
									<td>Darkness, toxic, decay, corruption, morbid, fatalistic.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/essences/flower-emblem.svg"></span></td>
									<td>Radiant</td>
									<td>Light, cleansing, restoration, calming, ordered.</td>
								</tr>
								<tr>
									<td><span class="icon"><img src="../images/icons-materials/essences/water-drop.svg"></span></td>
									<td>Water</td>
									<td>Water, cold, slippery, shifting, tempestuous, chaotic.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<col-break></col-break>

				<!-- <material class="panel panel--material material--mundane material--edible material--air">
					<header class="panel__header">
						<h4 class="panel__title">Bat Wing</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Material</li>
						</ul>
						<div class="panel__icons">
							<div class="material__icons">
								<div class="material__type"></div>
								<div class="material__essence"></div>
							</div>
							<div class="material__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<div class="material__description">
							<p>This black, corrosive ooze coagulates into a solid, stable substance when heated up.</p>
						</div>
						<div class="material__source"><span>Bat <span class="tags">(Mundane, Edible, Air)</span></span></div>
					</section>
				</material> -->

				<material class="panel panel--material material--uncommon material--durable material--necrotic">
					<header class="panel__header">
						<h4 class="panel__title">Coagulating Ooze</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Material</li>
						</ul>
						<div class="panel__icons">
							<div class="material__icons">
								<div class="material__rarity-icon"></div>
								<div class="material__type"></div>
								<div class="material__essence"></div>
							</div>
							<div class="material__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<div class="material__description">
							<p>This black, corrosive ooze coagulates into a solid, stable substance when heated up.</p>
						</div>
						<div class="material__source"><span>Black Pudding <span class="tags">(Uncommon, Durable, Necrotic)</span></span></div>
					</section>
				</material>

				<material class="panel panel--material material--rare material--creative material--fire">
					<header class="panel__header">
						<h4 class="panel__title">Ruby Blood</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Material</li>
						</ul>
						<div class="panel__icons">
							<div class="material__icons">
								<div class="material__rarity-icon"></div>
								<div class="material__type"></div>
								<div class="material__essence"></div>
							</div>
							<div class="material__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<div class="material__description">
							<p>This ruby-red blood never seems to dull when used as a dye, paint, or pigment.</p>
						</div>
						<div class="material__source"><span>Young Red Dragon <span class="tags">(Rare, Creative, Fire)</span></span></div>
					</section>
				</material>

				<h4>Exchanging Materials</h4>
				<p>Materials are <i>flexible</i>. Names and sources are (in most cases) entirely superficial—what truly matters in crafting are the three material <i>tags</i>: rarity, type, and essence.</p>
				<p>When a recipe asks for a material, you can use <i>any</i> material that matches these three tags. You can also substitute a material of <i>higher</i> rarity for a lower one—using a <i>rare</i> material in place of a <i>common</i> one, for example.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Truth wants to craft a <i>Frost Brand</i> longsword. The recipe asks for 12 <strong>frostbitten crystal ores</strong> <i>(very rare, durable, water)</i>.</p>
						<p>Truth has only 7 ores—but he has 5 shards of <strong>rainbow ice</strong> <i>(very rare, durable, water)</i>. The tags match, and so he can use these materials interchangably.</p>
					</section>
				</example>

				<h4>Finding Materials</h4>
				<p>During your travels, you can collect crafting materials in four primary ways:</p>

				<ol>
					<li><strong>Hunt Monsters:</strong> Monsters are a prime source of crafting materials. Corrosive oozes, fiery dragon bones, monstrous meats—hunt legendary monsters in your adventures to craft legendary goods.</li>
					<li><strong>Discover Nodes:</strong> Metal veins, hardy trees, stone quarries, fresh lakes—harvest crafting materials from rich nodes out in the wilds.</li>
					<li><strong>Salvage Goods:</strong> With the right tools, you may be able to salvage some materials when you destroy a good.</li>
					<li><strong>Spend Gold:</strong> Some settlements may have a limited number of materials for sale. Try looking for artificers, gatherers, merchants, and crafting guilds—but act fast! Other crafters will be sure to buy them if you don't.</li>
				</ol>

				<example class="panel panel--example">
					<section class="panel__body">
						<p><strong>Aberinyth Swine</strong> is a penny-pinching merchant in the village of <strong>Little Westing</strong>. Each week, he has a fresh stock of 50 assorted <i>common</i> materials available to buy at 1.5 gp each.</p>
						<p>There is an 80% chance that these materials will all be sold by the third day of the week.</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--getting-started">
				<h3><span class="h3__highlight">4</span>Nodes</h3>
				<p>Materials are extracted from <i>crafting nodes</i>. These nodes come in all shapes and sizes—tiny monsters, gargantuan dragons, metal veins, crop fields—and the bigger the node, the more attempts you can make to harvest materials.</p>
				<p>Hunt the biggest monsters and—with the right tools and training—harvest them for your own crafting needs.</p>
				<p>For a full exploration of <i>nodes</i>, see page pX.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Harvesting</h4>
					</header>
					<section class="panel__body">
						<table class="table table--harvesting-attempts">
							<thead>
								<tr>
									<th>Node Size</th>
									<th colspan="2"><div class="spacer">Harvesting</div></th>
								</tr>
								<tr>
									<th></th>
									<th>Max. Attempts</th>
									<th>Time per Attempt</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Tiny</td>
									<td>1</td>
									<td>15 minutes</td>
								</tr>
								<tr>
									<td>Small</td>
									<td>2</td>
									<td>15 minutes</td>
								</tr>
								<tr>
									<td>Medium</td>
									<td>4</td>
									<td>30 minutes</td>
								</tr>
								<tr>
									<td>Large</td>
									<td>8</td>
									<td>30 minutes</td>
								</tr>
								<tr>
									<td>Huge</td>
									<td>16</td>
									<td>1 hour</td>
								</tr>
								<tr>
									<td>Gargantuan</td>
									<td>32</td>
									<td>1 hour</td>
								</tr>
							</tbody>
						</table>
						</tables>
					</section>
				</list>

				<node class="panel panel--node node--rare node--fire">
					<header class="panel__header">
						<h4 class="panel__title">Young Red Dragon Corpse</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Node</li>
						</ul>
						<div class="panel__icons">
							<div class="node__essence"></div>
							<div class="node__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="node__details">
							<li><strong>Harvesting Attempts:</strong> 8 / 8</li>
							<li><strong>Harvesting DC:</strong> DC 15</li>
							<li><strong>Harvesting Time:</strong> 30 minutes</li>
						</ul>
						<div class="node__materials">
							<div class="material material--rare material--chemical material--fire">
								<div class="name">Draconic Bile</div>
								<div class="tags">Rare, Chemical, Fire</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--rare material--creative material--fire">
								<div class="name">Ruby Blood</div>
								<div class="tags">Rare, Creative, Fire</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--rare material--curio material--fire">
								<div class="name">Sharp Dragonclaw</div>
								<div class="tags">Rare, Curio, Fire</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--rare material--durable material--fire">
								<div class="name">Chromatic Scale</div>
								<div class="tags">Rare, Durable, Fire</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--rare material--edible material--fire">
								<div class="name">Tail Meat</div>
								<div class="tags">Rare, Edible, Fire</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--rare material--fabric material--fire">
								<div class="name">Underbelly Hide</div>
								<div class="tags">Rare, Fabric, Fire</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
						</div>
					</section>
				</node>

				<node class="panel panel--node node--mundane node--water">
					<header class="panel__header">
						<h4 class="panel__title">Ashmore Lake</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Node</li>
						</ul>
						<div class="panel__icons">
							<div class="node__essence"></div>
							<div class="node__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="node__details">
							<li><strong>Harvesting Attempts:</strong> 32 / 32</li>
							<li><strong>Harvesting DC:</strong> DC 5</li>
							<li><strong>Harvesting Time:</strong> 1 hour</li>
							<li><strong>Replenishes:</strong> 1 attempt per day</li>
						</ul>
						<div class="node__materials">
							<div class="material material--mundane material--chemical material--water">
								<div class="name">Aquatic Gelatine</div>
								<div class="tags">Mundane, Chemical, Water</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--mundane material--creative material--water">
								<div class="name">Crushed Beryline Scale</div>
								<div class="tags">Mundane, Creative, Water</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--mundane material--curio material--water">
								<div class="name">Powdered Scalemoss</div>
								<div class="tags">Mundane, Curio, Water</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--mundane material--durable material--water">
								<div class="name">Rough Turtleshell</div>
								<div class="tags">Mundane, Durable, Water</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--mundane material--edible material--water">
								<div class="name">Rainbow Trout</div>
								<div class="tags">Mundane, Edible, Water</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--mundane material--fabric material--water">
								<div class="name">Shimmering Chitinweave</div>
								<div class="tags">Mundane, Fabric, Water</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
						</div>
					</section>
				</node>

				<col-break></col-break>

				<h3><span class="h3__highlight">5</span>Recipes</h3>
				<p>A <i>crafting recipe</i> tells you how to combine <i>cores</i> and <i>materials</i> to create a <i>good</i>—a flaming magical sword, a fine wooden chair, a delicate ruby necklace, etc. Recipes require a profession—you must have the right training and tools to perform this craft.</p>
				<p>For a full exploration of <i>nodes</i>, see page pX.</p>

				<recipe class='panel panel--recipe recipe--builder recipe--master'>
					<header class='panel__header'>
						<h4 class='panel__title'>Frost Brand Longsword</h4>
						<ul class='panel__tags'>
							<li>Crafting</li>
							<li>Recipe</li>
							<li>Weapon</li>
						</ul>
						<div class="panel__icons">
							<div class="recipe__profession"></div>
							<div class="recipe__rarity"></div>
						</div>
					</header>
					<section class='panel__body'>
						<ul class="recipe__details">
								<li><strong>Profession:</strong> Master Builder</li>
								<li><strong>Requirements:</strong> Smith's Tools, Arcane Dust (60)</li>
								<li><strong>Crafting Time:</strong> 1 week</li>
						</ul>
						<div class="recipe__components">
							<div class="core core--very-rare core--lucent">
								<div class="quantity">3</div>
								<div class="name">Lucent Core</div>
								<div class="tags">Very rare, Core</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--very-rare material--durable material--water">
								<div class="quantity">12</div>
								<div class="name">Frostbitten Crystal Ore</div>
								<div class="tags">Very rare, Durable, Water</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--rare material--fabric material--water">
								<div class="quantity">8</div>
								<div class="name">Chromatic Hide</div>
								<div class="tags">Rare, Fabric, Water</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
							<div class="material material--uncommon material--curio material--radiant">
								<div class="quantity">4</div>
								<div class="name">Diamond Dust</div>
								<div class="tags">Uncommon, Curio, Radiant</div>
								<div class="icons">
									<div class="rarity"></div>
									<div class="type"></div>
									<div class="essence"></div>
								</div>
							</div>
						</div>
					</section>
				</recipe>

				<h4>Arcane Dust</h4>
				<p>Some recipes require a measure of <i>arcane dust</i>. This special powder—created from crushed gemstones—is used to help shape and infuse <i>magical power</i> into a crafted object. You can buy arcane dust from willing artificers.</p>

				<h4>Finding Recipes</h4>
				<p>Before you can use a recipe, you must have it recorded somewhere close to hand—typically in your <i>recipe book</i>. During your travels, you can discover crafting recipes in three primary ways:</p>

				<ol>
					<li><strong>Be Trained:</strong> When you receive training in a profession and gain a new rank, you learn 3 crafting recipes. You may also be able to pay mentors for some additional recipe-specific training.</li>
					<li><strong>Experiment:</strong> You can run experiments during your downtime to try and discover a specific recipe.</li>
					<li><strong>Read a Recipe Book:</strong> Buy—or discover—a recipe book and read it to learn new recipes.</li>
				</ol>

				<p>Record your recipes in your own recipe book and keep it close to hand—a crafter's recipe book is a <i>valuable</i> thing, and many a careless crafter has found their priceless formulae stolen by a light-fingered thief.</p>

				<h3><span class="h3__highlight">6</span>Goods</h3>
				<p>A <i>crafted good</i> is what you produce from a recipe. Goods typically fall into one of three broad categories:</p>
				<ul>
					<li><strong>Items:</strong> a magic sword, a cursed ring, a fine meal, etc.</li>
					<li><strong>Effects:</strong> an explosion, some healing, a circle of banishment, etc.</li>
					<li><strong>Structures:</strong> a hut, a house, a tavern, a castle, etc.</li>
				</ul>
				<p>For a full exploration of <i>goods</i>, see page pX.</p>
			</page>
		</book>
	</body>
</html>
