<html>
	<body>
		<book class="book">
      <page class="page page--generic page--profession-feats" data-header-icon="book">
        <h1>Profession Feats</h1>
        <p>To craft special items, you must first take on a <i>crafting profession</i>. Through careful study and with regular practice, you can master <i>profession feats</i> to expand your crafting potential.</p>
        <p>This chapter details a variety of feats for each crafting profession and rank. Introduce these into your game to get started with professions <i>fast</i>.</p>

        <h2>Earning a Feat</h2>
        <p>A character can earn a profession feat in one of three primary ways:</p>

        <ul>
          <li><strong>Join a Guild:</strong> Crafting guilds are special (sometimes secret) organisations where crafters train, practice, socialise, and share knowledge about their craft.</li>
          <li><strong>Train with a Mentor:</strong> Crafting mentors can offer one-on-one tuition in a particular profession.</li>
          <li><strong>Study a Manual:</strong> Crafting manuals contain written knowlege, advice, formulae, and tutorials to help you master professional techniques.</li>
        </ul>

        <p>Use a variety of these methods as best suits your campaign. As a general rule-of-thumb, player should expect to have access to certain profession ranks once they start to reach certain character levels:</p>

        <list class="panel panel--list">
          <header class="panel__header">
            <h4 class="panel__title">Player Profession Ranks</h4>
          </header>
          <section class="panel__body">
            <table class="table table--profession-levels">
              <thead>
                <tr>
                  <th>Character Level</th>
                  <th>Rank</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0-3</td>
                  <td>Apprentice</td>
                </tr>
                <tr>
                  <td>4-7</td>
                  <td>Expert</td>
                </tr>
                <tr>
                  <td>8-11</td>
                  <td>Artisan</td>
                </tr>
                <tr>
                  <td>12-15</td>
                  <td>Master</td>
                </tr>
                <tr>
                  <td>16+</td>
                  <td>Grandmaster</td>
                </tr>
              </tbody>
            </table>
          </section>
        </list>

        <!-- <example class="panel panel--example">
          <section class="panel__body">
            <p>Chansi spends a month training with the hedge chef <i>Gastron d'Nom</i> to earn the <i>Apprentice Culinarian</i> feat.</p>
          </section>
        </example> -->

        <col-break></col-break>

        <trait class="panel panel--trait">
          <header class="panel__header">
            <h4 class="panel__title">Weaver's Guild of Upper Thal</h4>
            <ul class="panel__tags">
              <li>Crafting</li>
              <li>Profession</li>
              <li>Tailor</li>
              <li>Guild</li>
            </ul>
          </header>
          <section class="panel__body">
            <p>The <strong>Weaver's Guild</strong> of Upper Thal is <i>the</i> place to learn the fine art of tailoring. You can purchase a guild application for 100 GP—but you must find a ranked guildmember to sponsor your application before it can be accepted.</p>
            <p>Within its walls, you can petition guildmembers for training and tuition. But beware—Guildmaster Silk tolerates no timewasters nor tretchery. Perform services to the guild to stay in Silk's good favour and open the doors to higher ranks of tailoring tuition.</p>
          </section>
        </trait>

        <trait class="panel panel--trait">
          <header class="panel__header">
            <h4 class="panel__title">Gastron d'Nom</h4>
            <ul class="panel__tags">
              <li>Crafting</li>
              <li>Profession</li>
              <li>Culinarian</li>
              <li>Mentor</li>
            </ul>
          </header>
          <section class="panel__body">
            <p>A well-known hedge chef, <strong>Gastron d'Nom</strong> wanders the realm seeking new culinary delights and challenging other chefs in his famous <i>Great Grand Cook-Off</i> competition.</p>
            <p>If you can convince Gastron to take you on as a student—and if you can best him in the <i>Great Grand Cook-off</i>—you may be able to learn the ways of a <i>Master Culinarian</i>...</p>
          </section>
        </trait>

        <item class="panel panel--item">
          <header class="panel__header">
            <h4 class="panel__title">A Basic Guide To Building</h4>
            <ul class="panel__tags">
              <li>Crafting</li>
              <li>Profession</li>
              <li>Builder</li>
              <li>Manual</li>
            </ul>
          </header>
          <section class="panel__body">
            <p>This tattered manual—handed down carefully through five generations of the <strong>Strongsmithy</strong> clan—contains the very basics of building techniques as first taught by the overly-articulate <i>Pebble Breist von Strongsmithy III</i>.</p>
            <p>If you spend 1 week studying this manual and spend 25 GP in crafting practice, you can make an Intelligence check (DC 15). After four successes, you earn the <i>Apprentice Builder</i> feat.</p>
          </section>
        </item>
      </page>
      <page class="page page--generic page--profession-feats">
        <h2>Apprentice</h2>

        <profession class="panel panel--profession profession--apothecary profession--apprentice">
					<header class="panel__header">
						<h4 class="panel__title">Apprentice Apothecary</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<div class="profession__description">
							<ul>
                <li>You can craft mundane items worth up to 100 gp.</li>
                <li>You can use apprentice <i>Apothecary</i> recipes.</li>
                <li>You can harvest common <i>Chemical</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--artist profession--apprentice">
					<header class="panel__header">
						<h4 class="panel__title">Apprentice Artist</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<div class="profession__description">
							<ul>
                <li>You can craft mundane items worth up to 100 gp.</li>
                <li>You can use apprentice <i>Artist</i> recipes.</li>
                <li>You can harvest common <i>Creative</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--builder profession--apprentice">
					<header class="panel__header">
						<h4 class="panel__title">Apprentice Builder</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<div class="profession__description">
							<ul>
                <li>You can craft mundane items worth up to 100 gp.</li>
                <li>You can use apprentice <i>Builder</i> recipes.</li>
                <li>You can harvest common <i>Durable</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--culinarian profession--apprentice">
					<header class="panel__header">
						<h4 class="panel__title">Apprentice Culinarian</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<div class="profession__description">
							<ul>
                <li>You can craft mundane items worth up to 100 gp.</li>
                <li>You can use apprentice <i>Culinarian</i> recipes.</li>
                <li>You can harvest common <i>Edible</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--tailor profession--apprentice">
					<header class="panel__header">
						<h4 class="panel__title">Apprentice Tailor</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<div class="profession__description">
							<ul>
                <li>You can craft mundane items worth up to 100 gp.</li>
                <li>You can use apprentice <i>Tailor</i> recipes.</li>
                <li>You can harvest common <i>Fabric</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--tinkerer profession--apprentice">
					<header class="panel__header">
						<h4 class="panel__title">Apprentice Tinkerer</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<div class="profession__description">
							<ul>
                <li>You can craft mundane items worth up to 100 gp.</li>
                <li>You can use apprentice <i>Tinkerer</i> recipes.</li>
                <li>You can harvest common <i>Curio</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <example class="panel panel--example panel--example--placeholder">
          <section class="panel__body">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </section>
        </example>

        <col-break></col-break>

        <h2>Expert</h2>

        <profession class="panel panel--profession profession--apothecary profession--expert">
					<header class="panel__header">
						<h4 class="panel__title">Expert Apothecary</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Apprentice Apothecary</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 600 gp.</li>
                <li>You can use expert <i>Apothecary</i> recipes.</li>
                <li>You can harvest uncommon <i>Chemical</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--artist profession--expert">
					<header class="panel__header">
						<h4 class="panel__title">Expert Artist</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Apprentice Artist</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 600 gp.</li>
                <li>You can use expert <i>Artist</i> recipes.</li>
                <li>You can harvest uncommon <i>Creative</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--builder profession--expert">
					<header class="panel__header">
						<h4 class="panel__title">Expert Builder</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Apprentice Builder</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 600 gp.</li>
                <li>You can use expert <i>Builder</i> recipes.</li>
                <li>You can harvest uncommon <i>Durable</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--culinarian profession--expert">
					<header class="panel__header">
						<h4 class="panel__title">Expert Culinarian</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Apprentice Culinarian</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 600 gp.</li>
                <li>You can use expert <i>Culinarian</i> recipes.</li>
                <li>You can harvest uncommon <i>Edible</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--tailor profession--expert">
					<header class="panel__header">
						<h4 class="panel__title">Expert Tailor</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Apprentice Tailor</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 600 gp.</li>
                <li>You can use expert <i>Tailor</i> recipes.</li>
                <li>You can harvest uncommon <i>Fabric</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--tinkerer profession--expert">
					<header class="panel__header">
						<h4 class="panel__title">Expert Tinkerer</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Apprentice Tinkerer</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 600 gp.</li>
                <li>You can use expert <i>Tinkerer</i> recipes.</li>
                <li>You can harvest uncommon <i>Curio</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>
      </page>
      <page class="page page--generic page--profession-feats">
        <h2>Artisan</h2>

        <profession class="panel panel--profession profession--apothecary profession--artisan">
					<header class="panel__header">
						<h4 class="panel__title">Artisan Apothecary</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Expert Apothecary</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 3,600 gp.</li>
                <li>You can use artisan <i>Apothecary</i> recipes.</li>
                <li>You can harvest rare <i>Chemical</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--artist profession--artisan">
					<header class="panel__header">
						<h4 class="panel__title">Artisan Artist</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Expert Artist</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 3,600 gp.</li>
                <li>You can use artisan <i>Artist</i> recipes.</li>
                <li>You can harvest rare <i>Creative</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--builder profession--artisan">
					<header class="panel__header">
						<h4 class="panel__title">Artisan Builder</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Expert Builder</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 3,600 gp.</li>
                <li>You can use artisan <i>Builder</i> recipes.</li>
                <li>You can harvest rare <i>Durable</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--culinarian profession--artisan">
					<header class="panel__header">
						<h4 class="panel__title">Artisan Culinarian</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Expert Culinarian</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 3,600 gp.</li>
                <li>You can use artisan <i>Culinarian</i> recipes.</li>
                <li>You can harvest rare <i>Edible</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--tailor profession--artisan">
					<header class="panel__header">
						<h4 class="panel__title">Artisan Tailor</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Expert Tailor</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 3,600 gp.</li>
                <li>You can use artisan <i>Tailor</i> recipes.</li>
                <li>You can harvest rare <i>Fabric</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--tinkerer profession--artisan">
					<header class="panel__header">
						<h4 class="panel__title">Artisan Tinkerer</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Expert Tinkerer</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 3,600 gp.</li>
                <li>You can use artisan <i>Tinkerer</i> recipes.</li>
                <li>You can harvest rare <i>Curio</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <col-break></col-break>

        <h2>Master</h2>

        <profession class="panel panel--profession profession--apothecary profession--master">
					<header class="panel__header">
						<h4 class="panel__title">Master Apothecary</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Artisan Apothecary</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 21,600 gp.</li>
                <li>You can use master <i>Apothecary</i> recipes.</li>
                <li>You can harvest very rare <i>Chemical</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--artist profession--master">
					<header class="panel__header">
						<h4 class="panel__title">Master Artist</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Artisan Artist</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 21,600 gp.</li>
                <li>You can use master <i>Artist</i> recipes.</li>
                <li>You can harvest very rare <i>Creative</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--builder profession--master">
					<header class="panel__header">
						<h4 class="panel__title">Master Builder</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Artisan Builder</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 21,600 gp.</li>
                <li>You can use master <i>Builder</i> recipes.</li>
                <li>You can harvest very rare <i>Durable</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--culinarian profession--master">
					<header class="panel__header">
						<h4 class="panel__title">Master Culinarian</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Artisan Culinarian</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 21,600 gp.</li>
                <li>You can use master <i>Culinarian</i> recipes.</li>
                <li>You can harvest very rare <i>Edible</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--tailor profession--master">
					<header class="panel__header">
						<h4 class="panel__title">Master Tailor</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Artisan Tailor</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 21,600 gp.</li>
                <li>You can use master <i>Tailor</i> recipes.</li>
                <li>You can harvest very rare <i>Fabric</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--tinkerer profession--master">
					<header class="panel__header">
						<h4 class="panel__title">Master Tinkerer</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Artisan Tinkerer</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth up to 21,600 gp.</li>
                <li>You can use master <i>Tinkerer</i> recipes.</li>
                <li>You can harvest very rare <i>Curio</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>
      </page>
      <page class="page page--generic page--profession-feats">
        <h2>Grandmaster</h2>

        <profession class="panel panel--profession profession--apothecary profession--grandmaster">
					<header class="panel__header">
						<h4 class="panel__title">Grandmaster Apothecary</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Master Apothecary</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth any value.</li>
                <li>You can use grandmaster <i>Apothecary</i> recipes.</li>
                <li>You can harvest legendary <i>Chemical</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--artist profession--grandmaster">
					<header class="panel__header">
						<h4 class="panel__title">Grandmaster Artist</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Master Artist</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth any value.</li>
                <li>You can use grandmaster <i>Artist</i> recipes.</li>
                <li>You can harvest legendary <i>Creative</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--builder profession--grandmaster">
					<header class="panel__header">
						<h4 class="panel__title">Grandmaster Builder</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Master Builder</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth any value.</li>
                <li>You can use grandmaster <i>Builder</i> recipes.</li>
                <li>You can harvest legendary <i>Durable</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--culinarian profession--grandmaster">
					<header class="panel__header">
						<h4 class="panel__title">Grandmaster Culinarian</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Master Culinarian</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth any value.</li>
                <li>You can use grandmaster <i>Culinarian</i> recipes.</li>
                <li>You can harvest legendary <i>Edible</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--tailor profession--grandmaster">
					<header class="panel__header">
						<h4 class="panel__title">Grandmaster Tailor</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Master Tailor</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth any value.</li>
                <li>You can use grandmaster <i>Tailor</i> recipes.</li>
                <li>You can harvest legendary <i>Fabric</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession profession--tinkerer profession--grandmaster">
					<header class="panel__header">
						<h4 class="panel__title">Grandmaster Tinkerer</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
						<div class="panel__icons">
							<div class="profession__type"></div>
							<div class="profession__rarity"></div>
						</div>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Master Tinkerer</li>
						</ul>
						<div class="profession__description">
              <ul>
                <li>You can craft mundane items worth any value.</li>
                <li>You can use grandmaster <i>Tinkerer</i> recipes.</li>
                <li>You can harvest legendary <i>Curio</i> materials.</p>
              </ul>
						</div>
					</section>
				</profession>

        <col-break></col-break>

        <example class="panel panel--example panel--example--placeholder">
          <section class="panel__body">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </section>
        </example>

        <!-- <h2>Common</h2>

        <profession class="panel panel--profession">
					<header class="panel__header">
						<h4 class="panel__title">Keen Gatherer</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Any Apprentice Profession</li>
						</ul>
						<div class="profession__description">
              <p>Gather materials better</p>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession">
					<header class="panel__header">
						<h4 class="panel__title">Rapid Crafting</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Any Apprentice Profession</li>
						</ul>
						<div class="profession__description">
              <p>Reduce the crafting time.</p>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession">
					<header class="panel__header">
						<h4 class="panel__title">Artisinal Insight</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Master Tinkerer</li>
						</ul>
						<div class="profession__description">
              <p>Learn new crafting recipes</p>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession">
					<header class="panel__header">
						<h4 class="panel__title">Tool Training</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Master Tinkerer</li>
						</ul>
						<div class="profession__description">
              <p>Learn a new tool for your profession.</p>
						</div>
					</section>
				</profession>

        <profession class="panel panel--profession">
					<header class="panel__header">
						<h4 class="panel__title">Branding Mark</h4>
						<ul class="panel__tags">
							<li>Crafting</li>
							<li>Profession</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="profession__requirements">
							<li>Master Tinkerer</li>
						</ul>
						<div class="profession__description">
              <p>Create a unique item with your name on it.</p>
						</div>
					</section>
				</profession> -->

      </page>
		</book>
	</body>
</html>
