// Styles for quickstart materials pages.

.page--quickstart-materials {

	.table--material-rarities {
		@include table-column(1, left, 25%);
		@include table-column(2, center, 14%);
		@include table-column(3, left, 27%);
		@include table-column(4, center, 14%);
		@include table-column(5, right, 20%);
	}

	.table--material-essences {
		@include table-column(1, center, 14%);
		@include table-column(2, left, 25%);
		@include table-column(3, left, 61%);

		.icon {
			background: #b38280;
			padding: 2px;
			height: 25px;
			width: 25px;
			margin-top: 2px;
			box-sizing: border-box;
			display: inline-block;
			border-radius: 3px;

			img {
				height: 100%;
			}
		}
	}

	.table--harvesting-attempts {
		@include table-column(1, left, 30%);
		@include table-column(2, center, 35%);
		@include table-column(3, center, 35%);

		thead tr:nth-child(1) {
			@include table-column(2, center, 70%);
		}
	}

	.table--monstrous-materials {
		@include table-column(1, left, 14%);
		@include table-column(2, left, 14%);
		@include table-column(3, left, 18%);
		@include table-column(4, left, 18%);
		@include table-column(5, left, 18%);
		@include table-column(6, left, 18%);

		.wide {
			padding-right: 0;
			letter-spacing: -0.1px;
		}

		.rowspan-child {
			@include table-column(1, left, 14%);
			@include table-column(2, left, 18%);
			@include table-column(3, left, 18%);
			@include table-column(4, left, 18%);
			@include table-column(5, left, 18%);

			&::before {
				content: '';
				width: 14%;
			}
		}

		.icon {
			height: 14px;
			background: #ab7383;
			display: inline-flex;
			font-size: 14px;
			padding: 1px;
			box-sizing: border-box;
			flex-shrink: 0;
			border-radius: 3px;
			width: 14px;
			margin-bottom: -4px;
			position: relative;
			margin-top: -3px;
			position: relative;
			top: 2px;

			img {
				height: 100%;
			}
		}

		.icon--chemical img {
			content: url("../images/icons-materials/types/bubbles.svg");
		}

		.icon--creative img {
			content: url("../images/icons-materials/types/paint-bucket.svg");
		}

		.icon--curio img {
			content: url("../images/icons-materials/types/shatter.svg");
		}

		.icon--durable img {
			content: url("../images/icons-materials/types/stone-block.svg");
		}

		.icon--edible img {
			content: url("../images/icons-materials/types/apple-seeds.svg");
		}

		.icon--fabric img {
			content: url("../images/icons-materials/types/rolled-cloth.svg");
		}
	}
}